.bg-danger {
	background: #FFB6C1
}
.w-1300 {
	width: 1300px
}
.h-1100 {
	height: 1000px
}
.marg-r {
	margin-right: auto;
}
.marg-l {
	margin-left: auto;
}
.blue {
	background: #FFB6C1
}
.h-30 {
	height: 30px
}
.p-l {
	padding-left: auto;
}
.p-r {
	padding-right: auto;
}
.color-p {
	color: #FFB6C1
}
.t-el {
	text-align: center;
}
.m-t10 {
	margin-top: 10px
}
.h-180 {
	height: 180px
}
.disp {
	display: flex;
}
.w-140 {
	width: 170px
}
.h-140 {
	height: 170px
}
.purple {
	background: #FFB6C1
}
.m-5 {
	margin-top: 5px;
	margin-left: 40px
}
.h-420 {
	height: 420px
}
.w-380 {
	width: 380px
}
.h-400 {
	height: 400px
}
.marg {
	margin-left: 40px
}
.w-170 {
	width: 170px
}
.h-170 {
	height: 170px
}
.pink {
	background: #FFB6C1
}
.marg-t {
	margin-top: 59px
}
.h-600 {
	height: 600px
}
.h-380 {
	height: 380px
}
.marg-top {
	margin-top: 50px
}
.w-170 {
	width: 170px
}
.h-170 {
    height: 170px
}
.marg-left {
	margin-left: 40px
}
.margin-t {
margin-top: 260px
}
.wid-400 {
	width: 400px
}
.margin {
	margin-left: 40px
}
.margin-left {
	margin-left: 41px
}
.h-100 {
	height: 100px
}
.i {
	color: black
}
.margin-topa {
	margin-top: 50
}